<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Layout Ejemplo</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body style="background-color: #0f0;">
<head>
	<h1>Layout Ejemplo</h1>
</head>

<%= yield %>

</body>
</html>